# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

# Compiled Java class files
*.class

# Package files
*.jar

# Maven
target/

# JetBrains IDE
.idea/
*.iml

src/main/java/App.java
test_files
LICENSES